@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "DM Sans";
  height: 120px;
  flex-direction: column;
}

.logo-svg {
  width: auto;
  height: 50px;
  filter: brightness(0) invert(1);
  margin-bottom: 8px;
  padding-top: 10px;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
  width: 100%;
  background-image: url("./imagens/space2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 95%;
}

.espaco-formulario {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans";
}

/* .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  
  } */

.formulario {
  font-family: "DM Sans";
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  color: white;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.formulario label {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.formulario label input[type="checkbox"] {
  margin-right: 8px;
}


.input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  outline: none;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.formulario button {
  font-family: "DM Sans";
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px 24px;
  background-color: #ffffff;
  /*color: white;*/
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  width: 200px;
}

.formulario button:hover {
  background-color: #2e2e2e;
}

.formulario div[role="group"] {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.input {
  height: 40px;
  width: 300px;
  border-radius: 15px;
  background-color: rgba(128, 128, 128, 0.39);
}

footer {
  font-family: "DM Sans";
  text-transform: capitalize;
  height: 100px;
  background-color: black;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
